/* banner */
h1{
    font-size: 70px;
}

#index-banner .section h6{
    padding-right: 550px;
}

/* 智慧機械介紹 */
.en-text {
  font-size: 15px;
  text-align: justify;
}

/* 特色 */
.feature-container .feature-tatle{
    font-size: 22px;
}

/* 產品介紹 */
.product-container .buttom-group .product-btn{
    width: 250px;
    padding: 15px;
}

.product-container .section-top-text{
    padding: 0 230px;
}

.product-container .row-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: none;
}

.product-container .row-content.active{
  display: block;
}

.card .card-title{
    font-size: 20px;
}

#product2-4 .card-title{
    font-size: 18px !important;  
}

.card .card-content {
    text-align: left !important;
    min-height: 280px !important;
}

.card .card-content p {
    font-size: 15px;
}

.btn {
    width: 250px;
}

/* 產品詳細頁面 */
.section-title .titlename {
    letter-spacing: 2px;
}

 /* 聯絡我們 */
#contact .container{
    width: 80%;
}

#contact h2 {
    font-size: 40px;
}

/* footer */
.page-footer .container{
    width: 1100px;
}

.footer-info .rightbox .bottom .info-left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



@media (max-width: 1400px){
    /* banner */
    h1{
        font-size: 55px;
        line-height: 70px;
    }

    #index-banner .section h4{
        font-size: 26px;
        padding: 20px 0 0 0;
    }

    #index-banner .section h6{
        padding-right: 350px;
    }


    /* 產品特色 */
    .icon-block{
        padding: 0 15px;
    }

    .feature-container .feature-tatle{
        font-size: 20px;
    }

    .icon-block p{
        font-size: 15px;
        font-weight: 300;
    }


    /* 產品介紹 */
    #product .section-title{
        padding-bottom:20px ;
    }

    .card .card-title{
        font-size:18PX ;
    }

    .product-container .section-top-text{
        padding: 0 20px 0 30px;
    }

   /* footer */
    .page-footer .container{
        width: 850px;
    }

@media (max-width: 1100px){
    /* banner */
    h1{
        font-size: 40px;
        line-height: 50px;
    }

    #index-banner .section h6{
        padding-right: 100px;
    }

    .card .card-title{
        font-size: 18px;
    }
}



@media(max-width: 850px){
    /* banner */
    h1{
        font-size: 32px;
        line-height: 50px;
    }

    #index-banner .section h4{
        font-size: 20px;
    }

    #index-banner .section h6{
        padding-right: 0px;
    }

    /* 產品介紹 */
    .product-container .buttom-group .product-btn {
        font-size: 16PX;
    }

    .card .card-content {
        min-height: 320px !important;
    }

    .card .card-title{
        font-size: 16px;
    }

    #product2-1 .card-title{
        font-size: 16px !important;
    }

    #product2-4 .card-title{
    font-size: 16px !important;  
}

    /* 聯絡我們 */
    #contact .container{
        width: 90%;
    }

    .page-footer .container{
        width: 90%;
    }

    .footer-info .rightbox .bottom .info-left{
        width: 100%;
    }
}

@media(max-width: 500px){
     /* banner */
    h1{
        font-size: 26px;
        line-height: 30px;
    }

    #index-banner .section h4{
        font-size: 18px;
    }

    #index-banner .section h6{
        padding-right: 20px;
        text-align: unset;
    }

    /* 智慧機械介紹 */
    .en-text {
        font-size: 14px;
        text-align: left;
    }

    /* 產品介紹 */
    .card .card-content {
        min-height: 250px !important;
    }

    #product2-1 .card-title{
        font-size: 15px !important;
    }

    /* 產品詳細頁面 */
    .section-top .section-title .titlename{
        font-size: 20px !important;
    }

    .product-detail-container .row .l7{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    /* 聯絡我們 */
    #contact h2 {
        font-size: 30px;
    }

    /* footer */
    .footer-info .rightbox .bottom .info-left {
        font-size: 12px;
    }

    .footer-copyright .container{
        font-size: 12px;
    }
}

}
